node_modules/
server/dist/
package-lock.json
.env
configs/
subscription-server/subs.db
subscription-server/node_modules/
subscription-server/*.db-journal
server/prisma/*.db
server/prisma/*.db-journal
logs/
dist/

yarn.lock
.pnp.*
